.container {
  padding: 3rem;
}

.box {
  height: 10px;
  display: block;
  background-color: red;
}

.error-message {
  background-color: red;
  color: #fff;
  opacity: 0;
  transition: all linear .5s;
}

.error-message.show {
  opacity: 1;
}