<div class="container">
  <h1>Hola este es mi primer proyecto en Angular</h1>
  <h2>{{welcome}}</h2>

  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{task}}
    </li>
    }
  </ul>
  <hr>
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>la suma de 3 + 3 es {{3+3}}</p>
  <p>Hola soy {{ name() }} tengo {{ age }} años</p>
  <hr>
  <img [src]="img" alt="">
  <input type="text" name="" id="" [value]="name()">
  <button [disabled]="disabled"> Boton que dehabilite con Angular</button>
  <p>person: {{person().name}} y age {{person().age}}
  </p>
  <hr>
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double Click</button>
  <p>(change)</p>
  <input type="text" name="" id="" [value]="name()" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" (keydown)="keyDownHandler($event)">
  <p>(keydown especific)</p>
  <input type="text" (keydown.shift.t)="changeHandler($event)">
  <hr>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <hr>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}} {{task}}
    </li>
    }
  </ul>

  <p>Uso de ngIf</p>
  @if (person().name == 'Daniels' && person().age > 10) {
  <div>
    renrizo
  </div>
  } @else {
  renrizo 2
  }
  <p>ng-switch</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div>
    @switch (person().name) {
    @case ('Daniel') {
    <p>Hola soy Daniel</p>
    }
    @case ('Pedro') {
    <p>Hola soy Pedro</p>
    }
    @case ('Paula') {
    <p>Hola soy Paula</p>
    }
    @case ('Valentina') {
    <p>Hola soy Valentina</p>
    }
    @default {
    <p>No tengo nombre 😋</p>
    }
    }
  </div>
  <p> Manejo de inputs</p>
  <input type="color" name="" id="" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>
  <hr>
  <p>Estilos al modo Angular</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <input type="number" name="" id="" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr>
  <p>
    <input type="text" name="" id="" [formControl]="nameCtrl"><br>
    <span class="error-message" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <hr>
  <p>Nueva sintaxis en angular</p>
  @if (name() === 'Daniel') {
  <div> el nombre mio es: {{ name()}}</div>
  }
</div>